src/main/resources/wsdl/bpelprocesscancel_client_ep.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="BPELProcessCancel"
     targetNamespace="http://xmlns.oracle.com/TouresBalon/toures_sca/BPELProcessCancel"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/TouresBalon/toures_sca/BPELProcessCancel"
     xmlns:ns1="http://touresbalon.com.co/model/canonical/1.0.0"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://192.168.0.17:7101/soa-infra/services/default/toures_sca!1.0/WSDLs/BPELProcessCancel.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="BPELProcessCancel">
        <plnk:role name="BPELProcessCancelProvider" portType="client:BPELProcessCancel"/>
        <plnk:role name="BPELProcessCancelRequester" portType="client:BPELProcessCancelCallback"/>
    </plnk:partnerLinkType>
<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
</wsp:Policy>    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://touresbalon.com.co/model/canonical/1.0.0" schemaLocation="canonical_schema.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="BPELProcessCancelRequestMessage">
        <wsdl:part name="payload" element="ns1:CancelOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="BPELProcessCancelResponseMessage">
        <wsdl:part name="payload" element="ns1:CancelOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="BPELProcessCancel">
        <wsdl:operation name="process">
            <wsdl:input message="client:BPELProcessCancelRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="BPELProcessCancelCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:BPELProcessCancelResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPELProcessCancelBinding" type="client:BPELProcessCancel">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BPELProcessCancelCallbackBinding" type="client:BPELProcessCancelCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/TouresBalon/toures_sca/BPELProcessCancel"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="bpelprocesscancel_client_ep">
        <wsdl:port name="BPELProcessCancel_pt" binding="client:BPELProcessCancelBinding">
            <soap:address location="http://192.168.0.17:7101/soa-infra/services/default/toures_sca/bpelprocesscancel_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
